# The C2SP stewards own the repository and assign maintainers
# of new or unmaintained specs.
*         @dconnolly @FiloSottile @str4d

# Spec maintainers own each individual spec.
age.md                  @FiloSottile
age/                    @FiloSottile

age-plugin.md           @str4d
age-plugin/             @str4d

chacha8rand.md          @FiloSottile
chacha8rand/            @FiloSottile

https-bastion.md        @AlCutter @FiloSottile @rgdd
https-bastion/          @AlCutter @FiloSottile @rgdd

jq255.md                @pornin
jq255/                  @pornin

poseidon-*.md           @str4d
poseidon-*/             @str4d

signed-note.md          @FiloSottile
signed-note/            @FiloSottile

streaming-encryption.md @FiloSottile @str4d
streaming-encryption/   @FiloSottile @str4d

static-ct-api.md        @FiloSottile
static-ct-api/          @FiloSottile

tlog-checkpoint.md      @mhutchinson @FiloSottile @rgdd
tlog-checkpoint/        @mhutchinson @FiloSottile @rgdd

tlog-cosignature.md     @AlCutter @FiloSottile @rgdd
tlog-cosignature/       @AlCutter @FiloSottile @rgdd

tlog-tiles.md           @AlCutter @mhutchinson @FiloSottile
tlog-tiles/             @AlCutter @mhutchinson @FiloSottile

tlog-witness.md         @FiloSottile @rgdd
tlog-witness/           @FiloSottile @rgdd

vrf-r255.md             @FiloSottile @gtank
vrf-r255/               @FiloSottile @gtank

XAES-256-GCM.md         @FiloSottile
XAES-256-GCM/           @FiloSottile
